.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-button {
  background-color: #282c34;
  display: flex;
  max-width: fit-content;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}


.App-pixi {
    display: flex;
    align-items: left;
    justify-content: left;
    
}